<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Food:</strong>
  <%= @game.food %>
</p>

<p>
  <strong>Drinks:</strong>
  <%= @game.drinks %>
</p>

<p>
  <strong>Snacks:</strong>
  <%= @game.snacks %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @game.alcohol %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
